#logo{
    font-size: 42px;
}

#item-search-result{
    height: 256px;
}

.del:hover{
    color: #e74c3c;
    cursor: pointer;
}

.edit{
    outline: none;
    border: none;
    background: transparent;
}

.edit:hover{
    color: #2980b9;
    cursor: pointer;
}

.stats-img-wrap > img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.bar{
    width: 56px;
    background: red;
}

.rounded-button{
    height: 52px;
    width: 52px;
}
