#logo{
    font-size: 32px;
}

#close{
    transform: rotate(45deg);
}

#close:hover{
    color: #e74c3c;
    cursor: pointer;
}

#item-search-result{
    height: 256px;
}

.stats-img-wrap > img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.bar{
    width: 56px;
    background: red;
}

.rounded-button{
    height: 52px;
    width: 52px;
}
